.NavBar{
    height: 50px;
    top: 0;
    z-index: 15;
    width: 90%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 5%;
    background-color: rgb(48, 48, 48)
}

h1{
    cursor: pointer;
}

li{
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
}

ul li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding-left: 30px;
}